
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
</head>
<body>
		<nav class="navbar is-dark" >
      <a class="navbar-item" href="{% url 'index' %}">Saul Gadets</a>

    <div>
      <div>
        {% for category in categories %}
          <a href="{% url 'category_detail' category.slug %}"class="navbar-item">{{ category.title }}</a>
        {% endfor %}
					<div class="navbar-item">
						<a href="{% url 'cart_detail' %}" class="button is-primary">Cart</a>
					</div>
      </div>
		</nav>
    {% block content %}
    {% endblock %}
    
    <footer class=""footer">
      <div class="columns">
        <div class="column is-4">
          <h1 class="subtiltle">Saul Gadgets</h1>
        </div>
        <div class="column is-8">
          <a href="#" class="navbar-item">Contact</a>
          <a href="{% url 'about' %}" class="navbar-item">About</a>
        </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>